<div class="row">
  <div class="four columns">
		<h3>Sentimention</h3>
	</div>
	<div class="six columns">
		<%= link_to content_tag(:span, 'Refresh Tweets'), {:action => "refresh"}, :class=>"medium secondary button" %>
		<%= link_to content_tag(:span, 'Charts'), charts_path, :class=>"medium secondary button" %>
	</div>
</div>
<div class="row">
	<div class="ten columns">
    <% Tweet.desc(:tweet_date).each do |tweet| %>
        <form id="#{tweet[:_id]}">
          <div class="tweet panel <%=tweet[:sentiment]%>">
            <div class="text">
              <p><%="#{tweet[:original]['from_user_name']}(@#{tweet[:original]['from_user']}) says -"%></p>
              <p><%="#{tweet[:original]['text']}"%></p>
            </div>
            <div class="sentiment-change ui-buttonset">
              <input type="radio" id="<%=tweet[:_id]%>-positive" value="positive" name="<%=tweet[:_id]%>" 
                <%="checked" if (tweet["sentiment"] === "positive")%>/>
              <label for="<%=tweet[:_id]%>-positive">Positive</label>
              <input type="radio" id="<%=tweet[:_id]%>-neutral" value="neutral" name="<%=tweet[:_id]%>" 
                <%="checked" if (tweet["sentiment"] === "neutral")%> />
              <label for="<%=tweet[:_id]%>-neutral">Neutral</label>
              <input type="radio" id="<%=tweet[:_id]%>-negative" value="negative" name="<%=tweet[:_id]%>" 
                <%="checked" if (tweet["sentiment"] === "negative")%>/>
              <label for="<%=tweet[:_id]%>-negative">Negative</label>
            </div>
          </div>
        </form>
    <% end %>
  </div>
</div>
<script>
    $(function() {	
 			$( ".sentiment-change" ).buttonset();
    });
</script>
