= button_to "Refresh Tweets", refresh_tweets_path
%p= link_to "Charts", charts_path
- Tweet.each do |tweet|
  %form{:id => tweet[:_id]}
    %div{:class => "tweet #{tweet[:sentiment]}"}
      %p= "#{tweet[:original]["from_user_name"]}(@#{tweet[:original]["from_user"]}) says -"
      %p= tweet[:original]["text"]
      %p= "The current sentiment is #{tweet[:sentiment]}"
      %p= "Would you like to change the sentiment?"
      = radio_button_tag(tweet[:_id], "positive", (tweet["sentiment"] === "positive"))
      Positive
      = radio_button_tag(tweet[:_id], "negative", (tweet["sentiment"] === "negative"))
      Negative
      = radio_button_tag(tweet[:_id], "neutral", (tweet["sentiment"] === "neutral"))
      Neutral