= button_to "Refresh Tweets", refresh_tweets_path
%p= link_to "Charts", charts_path
- Tweet.desc(:tweet_date).each do |tweet|
  %form{:id => tweet[:_id]}
    %div{:class => "tweet #{tweet[:sentiment]}"}
      .text
        %p= "#{tweet[:original]["from_user_name"]}(@#{tweet[:original]["from_user"]}) says -"
        %p= tweet[:original]["text"]
      .sentiment-change
        = radio_button_tag(tweet[:_id], "positive", (tweet["sentiment"] === "positive"), :name => "foo")
        = label_tag "#{tweet[:_id]}_Positive", "Positive"
        = radio_button_tag(tweet[:_id], "negative", (tweet["sentiment"] === "negative"), :name => "foo")
        = label_tag "#{tweet[:_id]}_Negative", "Negative"
        = radio_button_tag(tweet[:_id], "neutral", (tweet["sentiment"] === "neutral"), :name => "foo")
        = label_tag "#{tweet[:_id]}_Neutral", "Neutral"

:javascript
  $(document).ready(function() {	
    $( ".sentiment-change" ).buttonset();
  });
